@font-face {
    font-family: 'Proxima Nova Regular';
    src: url(/src/assets/fonts/Proxima-Nova-Regular.otf);
}

@font-face {
    font-family: 'Proxima Nova Extrabold';
    src: url(/src/assets/fonts/Proxima-Nova-Extrabold.otf);
}


body {
    font-family: 'Proxima Nova Regular';
    color: #000;
}

img {
    max-width: 100%;
}

a,
a:hover,
a:focus {
    color: #0067e3;
}



.other-page {
    background-color: #f5f5f5;
    position: relative;
    padding-bottom: 75px;
    min-height: 100vh;
    padding-top: 58px;
}

.main-page a {
    color: #fff;
}

.main-page .header {
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 50px;
    color: #fff;
}

.other-page .header {
    background-color: #f95f16;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.header {
    padding: 12px 25px;
    color: #fff;
}

.header a {
    color: #fff;
}

.logo-box {
    font-size: 22px;
    font-family: 'Proxima Nova Extrabold';
    float: left;
    max-height: 31px;
}

.top-menu {
    float: right;
}

.top-menu ul {
    padding: 5px 0;
    margin: 0;
}

.top-menu ul li {
    list-style: none;
    display: inline-block;
    font-size: 15px;
    padding: 0 10px;
    transition: all ease 0.2s;
    opacity: .8;
}

.top-menu ul li:hover,
.top-menu ul li.active {
    opacity: 1;
}

.top-menu ul li:last-child {
    padding-right: 0;
}

.big-title {
    font-size: 50px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}

.content-main-page {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
}

.text-wrap {
    font-size: 17px;
    line-height: 1.35;
    margin-bottom: 48px;
}

.main-page .content {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.add-cargo {
    background-color: #1eb3ff;
}

.add-cargo:hover {
    background-color: rgba(30, 179, 255, 0.8);
}

.add-transport {
    background-color: #ff671e;
}

.add-transport:hover {
    background-color: rgba(255, 103, 30, 0.8);
}

.add-task {
    height: 44px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px;
    border: 0;
    text-transform: uppercase;
    margin: 0 25px;
    letter-spacing: 0.9px;
    transition: all ease 0.3s;
}

.footer {
    min-height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 25px;
}

.main-page .footer {
    background-color: rgba(0, 0, 0, 0.1);
}

.item-footer-menu span {
    padding-right: 20px;
    opacity: .4;
    transition: all ease 0.3s;
}

.other-page .item-footer-menu span a {
    color: #000;
}

.item-footer-menu span:hover {
    opacity: .8;
}

.box-regis {
    width: 460px;
    max-width: 100%;
    min-height: 417px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 5% auto;
    padding: 40px 60px;
}

.box-regis h1 {
    font-size: 33px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    color: #000;
}

.box-regis input,
.box-regis select {
    width: 100%;
    min-height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 18px;
    padding: 0 10px;
    outline: none;
}

.box-regis.auth-page input,
.box-regis.auth-page select {
    min-height: 50px;
    font-size: 18px;
}

input {
    width: 100%;
    min-height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding: 0 10px;
    outline: none;
}

.top-item > div input[type="date"] {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
}

.box-regis input[type="submit"] {
    background-color: #1eb3ff;
    color: #fff;
    border: 0;
    margin: 30px 0 40px;
}

.input-box--select
{
    position: relative;
}

.input-box--select ul {
    margin: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    z-index: 1;
    width: 90%;
}

.top-item .input-box--select ul {

    width: 100%;
}

.input-box--select ul li {
    padding: 5px 10px;
    width: 100%;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 2px rgba(0, 0, 0, 0.1);
    margin-top: -2px;
}

.ourFeatures {
    max-width: 1000px;
    margin: 15px auto;
}

.auth-page .loginButton:disabled {
    background: #9fbece;
}

.link-us {
    margin: 0;
    text-align: center;
}

input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.4);
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.4);
}

input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.4);
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.4);
}

select {
    background-image: url(/src/assets/images/arrow_png.png);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0 10px;
    outline: none;
}

select::-ms-expand {
    display: none;
}

.img-prof img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.about-content {
    max-width: 820px;
    color: #000;
    margin: 0 auto;
    min-height: 600px;
}

.big-section {
    max-width: 940px;
    color: #000;
    margin: 0 auto;
}

.in-about-content {
    padding: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 30px auto;
}

.title-in-about {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
}

.text-in-about {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 20px;
}

.main-title {
    font-size: 33px;
    margin-top: 40px;
    margin-bottom: 0;
}

.time-news {
    color: #000;
    opacity: .4;
    line-height: 1.29;
}

.img-news {
    margin-bottom: 20px;
}

.info-prod {
    font-size: 33px;
    font-family: 'Proxima Nova Extrabold';
    margin-top: 0;
    margin-bottom: 30px;
}

.item-title-news {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 13px;
}

.item-news a {
    color: #000;
}

.text-min-news {
    margin-bottom: 5px;
}

.item-news {
    min-height: 333px;
}

.item-news img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    margin-bottom: 6px;
}

.news-box {
    padding: 40px 25px;
}

.top-item {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: flex-end;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
}

.top-item:last-child {
    margin-bottom: 0;
}

.top-item > div {
    width: 300px;
    max-width: 100%;
}

.top-item > div input {
    height: 40px;
    color: #000;
    font-weight: 600;
}

.punkts {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    background-color: #24b4f7;
    vertical-align: middle;
}

.punkts:last-child {
    background-color: #a3c923;
}

.line {
    width: 145px;
    height: 2px;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to right, #24b4f7, #a3c923);
    border-image-slice: 1;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 7px;
}

.line:before {
    content: "";
    width: 2px;
    height: 12px;
    top: -6px;
    left: -2px;
    position: absolute;
    background-color: #24b4f7;
}

.line:after {
    content: " > ";
    position: absolute;
    font-size: 24px;
    color: #a3c923;
    right: -4px;
    top: -16px;
}

.view-punkt {
    text-align: center;
    padding-bottom: 2px;
}

.title-1 {
    font-size: 33px;
    margin: 0;
}

.title-2 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 40px;
}

.item-table>thead>tr>th,
.item-table>tbody>tr>th,
.item-table>tfoot>tr>th,
.item-table>thead>tr>td,
.item-table>tbody>tr>td,
.item-table>tfoot>tr>td {
    border: 0;
    padding: 3px;
}

.item-table>tbody>tr>th {
    padding-left: 25px;
}

.item-table caption {
    color: #000;
    font-weight: 600;
}

.item-table {
    margin-bottom: 40px;
    width: auto;
}

.right-info-t {
    float: right;
    width: 300px;
    max-width: 100%;
}

.right-info {
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #eaeaea;
    padding: 30px 40px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.right-info > div {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.right-info > div:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.right-info > div h2 {
    font-size: 28px;
    margin: 0;
}

.take_orders {
    height: 40px;
    border-radius: 3px;
    background-color: #1eb3ff;
    color: #fff;
    font-size: 16px;
    border: 0;
    width: auto;
    outline: none;
    transition: all ease .3s;
    padding: 0 25px;
}

.take_orders:hover {
    background-color: rgba(30, 179, 255, 0.9);
}

.take_orders--exit {
    background: #e63535;
}

.take_orders--exit:hover {
    background: #c50808;
}

.form-you-date .take_orders {
    width: auto;
    margin-left: 160px;
    height: 40px;
}

.customers-img {
    float: left;
    margin-right: 40px;
}

.customers-data {
    float: left;
}

.customers-data h3 {
    margin: 0;
    font-size: 22px;
}

.info-spes {
    opacity: .4;
    margin-bottom: 15px;
    height: 20px;
}

.info-address {
    margin-bottom: 3px;
}

.min-title {
    margin-top: 0;
    margin-bottom: 20px;
}

.customers-img img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 3px;
}

.title-input {
    margin-bottom: 10px;
    display: block;
}

.top-item > div.item-select {
    width: 270px;
    margin-right: 25px;
}

.top-item > div.item-select.min-box-in {
    width: 125px;
    margin-right: 20px;
}

.top-item > div.item-select:last-child {
    margin-right: 0;
}

.form-you-date span {
    width: 160px;
    display: inline-block;
    float: left;
    vertical-align: middle;
}

.form-you-date input,
.form-you-date select {
    float: left;
    max-width: 270px;
}

.form-you-date {
    margin-bottom: 20px;
}

.itogs {
    font-size: 33px;
    font-weight: 600;
    text-align: right;
    line-height: 14px;
}

.add-gruz {
    margin-top: 40px;
    text-align: right;
}

.add-gruz a:hover {
    text-decoration: none;
}

.add-gruz .take_orders {
    height: 54px;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.add-gruz .btn-cancellation {
    background-color: #fff;
    color: #000;
    border: solid 1px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

textarea {
    width: 100%;
    max-width: 100%;
    border: solid 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
    min-height: 86px;
    outline: none;
}

.box-textarea {
    margin-top: 20px;
}

.tab-profle li a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    padding: 15px;
}

.tab-profle li {
    margin: 0;
    display: table-cell;
    float: none;
    white-space: nowrap;
}

.tab-profle li.active a {
    color: #000;
}

.tab-profle li a,
.tab-profle li.active a,
.tab-profle li a:hover,
.tab-profle li.active a:hover,
.tab-profle li a:focus,
.tab-profle li.active a:focus {
    border: 0;
    margin: 0;
}

.tab-profle {
    background-color: #fff;
    padding: 0 40px;
    border: 0;
    margin: 0;
}

.tab-pane .main-title, .clearfix .main-title {
    float: left;
}

.rigth-btn {
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.rigth-btn select {
    color: #000;
    width: 127px;
    height: 40px;
}

.rigth-btn .take_orders {
    height: 39px;
    width: 123px;
    margin-left: 20px;
}

.name-sity {
    font-size: 27px;
    margin-bottom: 10px;
}

.general-info {
    font-size: 17px;
    margin-bottom: 0;
}

.type-order {
    color: rgba(0, 0, 0, 0.5);
}

.info-executor {
    color: rgba(0, 0, 0, 0.4);
}

.price-order {
    font-size: 27px;
    text-align: right;
}

.my-item-order tr {
    padding-bottom: 20px;
}

.my-item-order>thead>tr>th,
.my-item-order>tbody>tr>th,
.my-item-order>tfoot>tr>th,
.my-item-order>thead>tr>td,
.my-item-order>tbody>tr>td,
.my-item-order>tfoot>tr>td {
    padding-bottom: 20px;
    padding-top: 20px;
}

.my-item-order tbody tr:first-child td {
    border-top: 0;
    padding-top: 0;
}

.input-box {
    width: 80%;
}

.table-calculator>thead>tr>th,
.table-calculator>tbody>tr>th,
.table-calculator>tfoot>tr>th,
.table-calculator>thead>tr>td,
.table-calculator>tbody>tr>td,
.table-calculator>tfoot>tr>td {
    vertical-align: middle;
    border: 0;
    padding-bottom: 22px;
}

.table-calculator>tfoot>tr>td {
    padding-left: 22%;
}

.table-calculator {
    margin-bottom: 0;
}

.table-calculator .take_orders {
    width: auto;
    height: 40px;
}

.add-punkt {
    font-weight: 600;
    border-bottom: 1px dashed;
    display: inline-block;
    margin-bottom: 30px;
    cursor: pointer;
}

.add-punkt:hover {
    text-decoration: none;
}

.hide-box {
    display: none;
}

.hide-box td {
    position: relative;
    padding-bottom: 8px !important;
}

.del-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../images/cross.png);
    background-size: 12px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0%, -50%);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

#orderPosition, #map {
    width: 100%;
    height: 600px;
}

#route-length {
    margin-right: 40px;
}

.top-map {
    margin-bottom: 0;
    padding: 20px 40px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.punkts.first-punkt {
    background-color: #24b4f7;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 34px;
    background: #fff;
    border-radius: 3px;
    color: #000;
    text-align: center;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.file-upload label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-upload span {
    line-height: 34px;
    font-weight: bold;
    width: auto;
    float: none;
}

.change-ava {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    background-color: #f5f5f5;
    object-fit: cover;
    margin-bottom: 10px;
}

.vid-type input {
    width: 45%
}

.vid-type input:last-child {
    float: right;
}

.line-center {
    display: inline-block;
    vertical-align: middle;
    width: 8%;
    text-align: center;
}

.in-fillter {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 40px;
    margin: 0 -40px;
}

.viwe-search {
    text-align: right;
    margin-top: 20px;
}

.viwe-search .take_orders {
    margin-left: 20px;
}

.caret {
    background-image: url(../images/angle-arrow-down.png);
    border: 0;
    width: 10px;
    height: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
}

.caret-up {
    transform: rotate(180deg);
    background-image: url(../images/angle-arrow-down.png);
    border: 0;
    width: 12px;
    height: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
}

.paramentr-search-link {
    text-align: right;
    font-weight: 600;
}

.paramentr-search-link a {
    cursor: pointer;
}

.in-fillter {
    display: none;
}

.pagination {
    margin: 0;
}

.pagination>li>a,
.pagination>li>span {
    border: 0;
    font-size: 18px;
    font-weight: 600;
    color: #0067e2;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: transparent;
    color: #000;
    opacity: .2;
}

.change-del-btn {
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.1);
    color: #000;
    font-size: 15px;
    padding: 0 15px;
}

.change-del-btn {
    margin-left: 10px;
}

.title-detale {
    font-size: 33px;
    margin-top: 0;
    margin-bottom: 10px;
}

.my-detail.item-table {
    font-size: 17px;
}

.item-img-details {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: flex-end;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.item-img-details>div {
    margin-right: 10px;
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
}

.item-img-details div img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.item-img-details>div:nth-child(5n) {
    margin-right: 0;
}

.abs-img {
    float: right;
    margin-top: -12%;
    margin-right: 5%;
}

.photo-list {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    background-color: #f8f8f8;
    background-image: url(../images/add-img@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
    vertical-align: top;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}

.add-photo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.photo-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.customers-img.trans-customers img {
    width: 90px;
    height: 90px;
}

.customers-img.trans-customers {
    margin-right: 20px;
}

.customers-data h3.trans-name {
    font-size: 27px;
    margin-bottom: 10px;
}

.inf-trans p {
    font-size: 17px;
    margin-bottom: 5px;
}

.customers .item-table {
    float: right;
}

.customers .item-table td,
.customers .item-table th {
    text-align: right;
}

.customers .item-table td {
    color: rgba(0, 0, 0, 0.4);
}

.trans-box {
/*    background-image: url(/dist/src/assets/images/st-ozhidaet.png);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: top right 24%;*/
}


.mini-toastr {
    right: 40% !important;
    top: 30% !important;
}

.select-input-city input {
    height: 42px;
    font-size: 18px;
}

.col-km {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

.right-info-t .take_orders {
    width: 100%;
}

.table-calculator .punkts {
    position: relative;
}

.change-del-btn[disabled] {
    background: #f7f7f7;
    color: #ccc;
}

input[disabled] {

    background: #f5f5f5;
}

.vertical-line {
    display: block;
    width: 8px;
    height: 22px;
    background-image: url(/src/assets/images/vert-arrow@2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -27px;
    left: 50%;
    transform: translate(-50%, 0);
    content: " ";
}

.icon-del-img {
    position: absolute;
    top: -12px;
    right: -12px;
    cursor: pointer;
    z-index: 15;
}

.icon-del-img img {
    width: 24px;
    height: 24px;
}

.box-message {
    min-height: 600px;
}

.item-mans img {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.name-company {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
}

.message-item {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.3px;
    color: rgba(0, 0, 0, 0.8);
}

.item-prof {
    margin-bottom: 30px;
}
.inf-message{
position: relative;
    
}
.count-new-message {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 13px;
    color: #fff;
    text-align: center;
    min-width: 30px;
    height: 22px;
    border-radius: 11px;
    background-color: #f95f16;
    display: block;
    padding: 0px 15px;
    line-height:22px; 
}

@media (min-width:767px) {
    .top-menu ul li:nth-child(3) {
        padding-right: 40px;
    }
    .item-footer-menu span:first-child {
        padding-right: 40px;
    }
}

@media (max-width:1200px) {
    .line {
        width: 100px;
    }
    .top-item > div.item-select {
        width: 220px;
    }
    .in-about-content {
        padding: 20px;
    }
}

@media (max-width:767px) {
    .header {
        padding: 10px 0px;
    }
    .top-menu ul li {
        font-size: 13px;
        padding: 0 5px;
    }
    .big-title {
        font-size: 31px;
    }
    .text-wrap {
        font-size: 14px;
        margin-bottom: 30px;
    }
    .add-task {
        height: 34px;
        width: 100%;
        margin: 10px 0;
    }
    .item-footer-menu span {
        padding-right: 10px;
        font-size: 13px;
    }
    .box-regis {
        padding: 20px;
        min-height: auto;
    }
    .box-regis h1 {
        margin-bottom: 20px;
    }
    .box-regis input[type="submit"] {
        margin: 20px 0 30px;
    }
    .box-regis.auth-page input {
        min-height: 40px;
    }
    .info-prod {
        font-size: 22px;
    }
    .news-box {
        padding: 20px 5px;
    }
    .top-item {
        display: block;
        padding: 0 15px;
    }
    .view-punkt {
        display: none;
    }
    .top-item > div {
        margin-bottom: 20px;
    }
    .top-item > div:last-child {
        margin-bottom: 0;
    }
    .title-1 {
        font-size: 28px;
    }
    .title-2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .right-info {
        padding: 20px;
    }
    .right-info-t {
        width: 100%;
    }
    .customers-box {
        padding: 20px;
    }
    .customers-img {
        margin-right: 15px;
    }
    .customers-img img {
        width: 80px;
        height: 80px;
    }
    .big-section .in-about-content {
        padding: 20px;
    }
    .big-section .in-about-content .top-item {
        padding: 0;
    }
    .min-title {
        font-size: 19px;
    }
    .top-item > div.item-select,
    .form-you-date input,
    .form-you-date select,
    .add-gruz .take_orders {
        width: 100%;
        max-width: 100%;
    }
    .add-gruz {
        margin-top: 30px;
    }
    .form-you-date span {
        width: 100%;
        margin-bottom: 7px;
    }
    .form-you-date .take_orders {
        margin-left: 0;
    }
    .footer {
        padding: 15px 0;
        min-height: auto;
    }
    .img-prof img {
        margin-right: 0;
    }
    .main-title {
        font-size: 28px;
        margin-top: 20px;
    }
    .top-item > div.item-select.min-box-in {
        width: 100%;
    }
    .photo-list {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
    .add-gruz .take_orders {
        height: 40px;
    }
    .add-gruz .btn-cancellation {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .tab-profle {
        padding: 0 15px;
    }
    .tab-profle li a {
        padding: 10px;
        font-size: 13px;
    }
    .item-img-details>div {
        width: 115px;
        height: 115px;
    }
    .in-boxes {
        padding: 0;
    }
    .tab-profle {
        overflow: scroll;
    }
    .name-sity {
        font-size: 19px;
    }
    .general-info {
        font-size: 14px;
    }
    .price-order {
        font-size: 24px;
        margin-bottom: 0;
    }
    .table-calculator>tfoot>tr>td {
        padding-left: 8px;
    }
    .add-punkt {
        margin-bottom: 0;
    }
    #map {
        height: 300px;
    }
    .trans-box {
        background-image: none;
    }
    .customers .item-table {
        float: none
    }
    .customers .item-table td,
    .customers .item-table th {
        text-align: left;
    }
    .customers-data h3.trans-name {
        font-size: 24px;
        margin-top: 10px;
    }
    .rigth-btn {
        margin-top: 20px;
    }
    .viwe-search .take_orders {
        margin-left: 0;
        width: 100%;
        margin-top: 10px;
    }
    .icon-del-img {
        top: -8px;
        right: -8px;
    }
    .icon-del-img img {
        width: 16px;
        height: 16px;
    }
}