.row
    ul.nav.nav-tabs.tab-profle(role="tablist")
        li(class=currentPage == 'orders' ? "active" : '')
            router-link(to="/cabinet/orders") {{ $t("links.myOrders") }}
        li.hidden(class=currentPage == 'notifications' ? "active" : '')
            router-link(to="/cabinet/notifications") Уведомления
        li.hidden(class=currentPage == 'balans' ? "active" : '')
            router-link(to="/cabinet/balans") {{ $t("links.balance") }}
        li(class=currentPage == 'calculator' ? "active" : '')
            router-link(to="/cabinet/calculator") {{ $t("links.calc") }}
        li(class=currentPage == 'settings' ? "active" : '')
            router-link(to="/cabinet/settings") {{ $t("links.settings") }}