#app
    .other-page
        .header
            .container-fluid
                .logo-box
                    router-link(to="/") MAP+
                .top-menu
                    ul
                        li
                            router-link(to='/changeLang/kk') Қазақша
                        li
                            router-link(to='/changeLang/ru') Русский
                        li
                            router-link(to='/changeLang/en') English
                        li
                            router-link(to="/help") {{ $t("links.help") }}
                        li
                            router-link(to="/cabinet/orders")
                                span.img-prof
                                    img.ic_profile(src='./assets/images/ic-profile.png')
                                |
                                span.hidden-xs {{ $t("links.cabinet") }}
        block content
        .footer
            .container-fluid
                .item-footer-menu
                    span Copyright 2016

                    span
                        router-link(to="/aboutUs") {{ $t("links.aboutUs") }}

                    span
                        router-link(to="/news") {{ $t("links.news") }}