<template lang="pug">
    extends ./blocks/layout

    block content
        .content
            .container-fluid
                - var currentPage = 'orders'
                include ./blocks/cabinetNavigation

            .container-fluid
                ads
            .container-fluid
                form.big-section
                    h1.main-title {{ $t("orders.add") }}
                    .in-about-content
                        h3.min-title {{ $t("order.copy") }}
                        .top-item
                            .item-select
                                span.title-input {{ $t("order.selectOrder") }}
                                select(v-model="cloneOrder", @change="setFrom")
                                    option(v-for="order in this.myOrders", :value="order.id") №{{order.id}}) {{ order.from.label }} → {{ order.to.label }}. {{ order.description }}

                    .in-about-content
                        h3.min-title {{ $t("order.sendTo") }}
                        .top-item.select-input-city
                            div.input-box--select
                                span.title-input {{ $t("order.from") }}
                                input(type="text", required, :placeholder="$t('calc.city')", v-model="pointA", @change="getLength", @input="showOptions('pointA', $event)")
                                ul
                                    li(v-for="item in itemsFrom", @click="setPoint('from', item.text)") {{ item.text }}

                            .view-punkt
                                span.punkts A
                                span.line: span.col-km
                                    span(id="citiesLength") {{ citiesLength }}
                                    | km
                                span.punkts B


                            div.input-box--select
                                span.title-input {{ $t("order.to") }}
                                input(type="text", required, :placeholder="$t('calc.city')", v-model="pointB", @change="getLength", @input="showOptions('pointB', $event)")
                                ul
                                    li(v-for="item in itemsTo", @click="setPoint('to', item.text)") {{ item.text }}


                    .in-about-content
                        h3.min-title {{ $t("order.whatLoad") }}
                        .top-item

                            .item-select.min-box-in
                                span.title-input {{ $t("order.capacity") }}
                                input(v-model="addForm.capacity", type="number", placeholder="0", min="1", required)


                            .item-select.min-box-in
                                .title-input {{ $t("order.volume") }}
                                input(v-model="addForm.volume", type="number", placeholder="0", min="1", required)


                            .item-select.clearfix
                                span.title-input {{ $t("order.insurance") }}
                                select(name="preselected-select", class="standard-demo", v-model="addForm.insured", required)
                                    option(value="", disabled, hidden) ...
                                    option(value="10") {{ $t("order.insured") }}
                                    option(value="11") {{ $t("order.notInsured") }}

                        .box-textarea
                            span.title-input {{ $t("order.description") }}
                            textarea(v-model="addForm.description", name="", id="", placeholder="", required)


                    .in-about-content
                        h3.min-title {{ $t("order.labelPreferredCar") }}
                        .top-item
                            .item-select
                                span.title-input {{ $t("order.typeTransp") }}
                                select(name="", v-model="addForm.typeTransp", required)
                                    option(v-for="option in this.injectData.typeTransp", v-bind:value="option.id") {{ option.name }}

                            .item-select
                                span.title-input {{ $t("order.viewTransp") }}
                                select(name="", v-model="addForm.preferredCar", required)
                                    option(v-for="option in this.injectData.carTypes", v-bind:value="option.id") {{ option.name }}

                            .item-select
                                span.title-input {{ $t("order.hazardClass") }}
                                select(name="", v-model="addForm.hazardClass", required)
                                    option(v-for="option in this.injectData.hazardClass", v-bind:value="option.id") {{ option.name }}



                    .in-about-content
                        h3.min-title {{ $t("order.extraOptions") }}
                        .top-item
                            .item-select
                                span.title-input {{ $t("order.labelPayment") }}
                                select(name="", v-model="addForm.termsPayment", required)
                                    option(v-for="option in this.injectData.termsPayment", v-bind:value="option.id") {{ option.name }}

                            .item-select
                                span.title-input {{ $t("order.loadingOption") }}
                                select(name="", v-model="addForm.loadingOption", required)
                                    option(v-for="option in this.injectData.loadingOption", v-bind:value="option.id") {{ option.name }}

                            .item-select
                                span.title-input {{ $t("order.dateShipment") }}
                                datepicker(:language="lang", :disabled="datepicker.disabled", placeholder="12.02.2016", v-model="addForm.provisionalDate",  format="dd.MM.yyyy", required)


                    .in-about-content.hidden
                        h3.min-title Ваши данные
                        .row
                            .col-md-7.col-sm-8
                                .form-you-date.clearfix
                                    span Наименование организации/ФЛ
                                    input(type="text", placeholder="...")


                                .form-you-date.clearfix
                                    span БИН/ИИН
                                    input(type="text", placeholder="...")


                                .form-you-date.clearfix
                                    span Сфера деятельности
                                    select name="" id=""
                                        option(value="") Не выбран


                                .form-you-date.clearfix
                                    span Номер телефона
                                    input(type="text", placeholder="...")


                                .form-you-date.clearfix
                                    span E-mail
                                    input(type="email", placeholder="...")


                                .form-you-date.clearfix
                                    span Юридический адрес
                                    input(type="text", placeholder="...")



                                .form-you-date.clearfix
                                    span Фактический адрес
                                    input(type="text", placeholder="...")




                            .col-md-5.col-sm-4 Личные данные необходимы для ... и тут надо написать для чего мы просим заполнить много много полей личных данных. Например, необходимо для установление личности и т.д.



                    .in-about-content
                        h3.min-title {{ $t("order.price") }}

                        .row
                            .col-md-7.col-sm-8
                                p {{ addForm.volume }} {{ $t("order.mt") }}, {{ addForm.capacity }} {{ $t("order.meter") }}³ {{ $t("order.helperText") }} {{ citiesLength }} {{ $t("order.km") }}

                            .col-md-5.col-sm-4.itogs {{ recomendPrice }} {{ $t("order.tg") }}

                        .row
                            .col-md-12
                                .item-select.min-box-in
                                    span.title-input {{ $t("order.price") }}
                                    input(v-model="addForm.price", type="number", placeholder="0", min="1", required)

                    .add-gruz
                        button.take_orders(@click.prevent="submitForm") {{ $t("orders.add") }}

                    #map.hidden

</template>

<script>
    import Datepicker from 'vuejs-datepicker';

    export default {
        name: 'app',

        notifications: {
            showNotify: {
                title: '',
                message: '',
                type: 'error'
            }
        },
        data() {
            return {
                datepicker: {
                    disabled: {
                        to: new Date(),
                    }
                },
                lang: 'ru',
                cloneOrder: 0,
                myOrders: [],
                mapRoute: false,
                map: '',
                addForm: {
                    capacity: 1,
                    volume: 1,
                    insured: 0,
                    price: 0,
                    description: '',
                    typeTransp: '',
                    preferredCar: '',
                    hazardClass: '',
                    termsPayment: '',
                    loadingOption: '',
                    provisionalDate: '',
                },
                tariff: {},
                minPrice: 0,
                maxPrice: 0,
                pointB: '',
                pointB_Route: '',
                pointA_Route: '',
                pointA: '',
                citiesLength: 0,
                injectData: '',
                itemsFrom: [],
                itemsTo: [],
            }
        },
        methods: {
            setPoint(point, locality) {
                if (point == 'from') {
                    this.pointA = locality
                    this.itemsFrom = []
                } else {
                    this.pointB = locality
                    this.itemsTo = []
                }
            },
            submitForm: function() {

                if (this.citiesLength > 0) {

                    if (this.addForm.capacity < 1) {
                        this.showNotify({
                            type: 'error',
                            title: 'Объем не указан'
                        });
                    }
                    else if (this.addForm.volume < 1) {
                        this.showNotify({
                            type: 'error',
                            title: 'Вес не указан'
                        });
                    }
                    else if (this.addForm.insured == 0) {
                        this.showNotify({
                            type: 'error',
                            title: 'Укажите, застрахова ли груз'
                        });
                    }
                    else if (this.addForm.typeTransp == '') {
                        this.showNotify({
                            type: 'error',
                            title: 'Укажите тип перевозки'
                        });
                    }
                    else if (this.addForm.preferredCar == '') {
                        this.showNotify({
                            type: 'error',
                            title: 'Укажите предпочитаемый вид транспорта'
                        });
                    }
                    else if (this.addForm.hazardClass == '') {
                        this.showNotify({
                            type: 'error',
                            title: 'Укажите класс опасности'
                        });
                    }
                    else if (this.addForm.termsPayment == '') {
                        this.showNotify({
                            type: 'error',
                            title: 'Укажите условия оплаты'
                        });
                    }
                    else if (this.addForm.loadingOption == '') {
                        this.showNotify({
                            type: 'error',
                            title: 'Укажите вариант погрузки'
                        });
                    }
                    else if (this.addForm.provisionalDate == '') {
                        this.showNotify({
                            type: 'error',
                            title: 'Укажите предварительную дата погрузки'
                        });
                    }
                    else if (this.addForm.price < 1) {
                        this.showNotify({
                            type: 'error',
                            title: 'Укажите стоимость'
                        });
                    }
                    else {
                        if (this.minPrice > this.addForm.price) {
                            this.showNotify({
                                type: 'error',
                                title: 'Указанная Вами цена ниже рекомендуемой'
                            });
                        }
                        else if (this.maxPrice < this.addForm.price) {
                            this.showNotify({
                                type: 'error',
                                title: 'Указанная Вами цена выше рекомендуемой'
                            });
                        } else {
                            let api = require('./api.js')
                            let time2server = Math.floor(this.addForm.provisionalDate / 1000)

                            this.$http.post(api.apiResource + 'customer/orders/add', {
                                token: localStorage.getItem('token'),
                                capacity: this.addForm.capacity,
                                volume: this.addForm.volume,
                                insured: this.addForm.insured,
                                description: this.addForm.description,
                                typeTransp: this.addForm.typeTransp,
                                preferredCar: this.addForm.preferredCar,
                                hazardClass: this.addForm.hazardClass,
                                termsPayment: this.addForm.termsPayment,
                                loadingOption: this.addForm.loadingOption,
                                provisionalDate: time2server,
                                citiesLength: this.citiesLength,
                                price: this.addForm.price,
                                points: {
                                    from: JSON.stringify(this.$data.pointA_Route),
                                    to: JSON.stringify(this.$data.pointB_Route),
                                },
                            }).then(response => {
                                //console.log(response)
                                this.$router.push({name: 'OrderFetch', params: {id: response.body.result.id}})
                            });
                        }
                    }
                }
                else {
                    this.showNotify({
                        type: 'error',
                        title: 'Кажется, города не выбраны'
                    });
                }
            },
            showOptions: function(model, event) {
                let link = this;
                ymaps.geocode(event.target.value, {
                    'kind': 'locality',
                    results: 10,
                    searchControlProvider: 'yandex#search'
                }).then(function (res) {
                    let firstGeoObject = res.geoObjects.get(0),
                        coords = [];

                    model == 'pointB' ? link.itemsTo = [] : link.itemsFrom = [];

                    res.geoObjects.each(function (el, i) {
                        if (el.properties.get('metaDataProperty.GeocoderMetaData.kind') == 'locality') {
                            if (model == 'pointB') {
                                link.itemsTo.push({'text': el.properties.getAll().text})
                            } else {
                                link.itemsFrom.push({'text': el.properties.getAll().text})
                            }
                        }
                    })

                    if (firstGeoObject != null)
                    {
                        coords = firstGeoObject.geometry.getCoordinates();

                        //console.debug(firstGeoObject.properties.get('metaDataProperty.GeocoderMetaData'))
                        let point_route = {
                            map_id: firstGeoObject.properties.get('metaDataProperty.GeocoderMetaData').id,
                            coords: coords[0] + "," + coords[1],
                            label_ru: firstGeoObject.properties.getAll().name,
                            label_kz: firstGeoObject.properties.getAll().name,
                            label_en: firstGeoObject.properties.getAll().name,
                            address_ru: firstGeoObject.properties.getAll().text,
                            address_kz: firstGeoObject.properties.getAll().text,
                            address_en: firstGeoObject.properties.getAll().text,

                        }

                        if (model == 'pointB') {
                            link.$data.pointB_Route = point_route;
                        }
                        else {
                            link.$data.pointA_Route = point_route;
                        }
                    }
                });


            },
            getLength: function () {
                let link = this;

                if (link.pointA != '' && link.pointB != '')
                {
                    ymaps.route([link.pointA, link.pointB]).then(
                        function (route) {
                            link.citiesLength = (route.getLength() / 1000).toFixed(2);
                        },
                        function (error) {
                            link.citiesLength = 0;
                        }
                    );

                    ymaps.geocode(link.pointA, {
                        'kind': 'locality',
                        results: 1,
                        searchControlProvider: 'yandex#search'
                    }).then(function (res) {
                        let firstGeoObject = res.geoObjects.get(0),
                            coords = [];
                        if (firstGeoObject != null)
                        {
                            coords = firstGeoObject.geometry.getCoordinates();

                            link.$data.pointA_Route = {
                                map_id: firstGeoObject.properties.get('metaDataProperty.GeocoderMetaData').id,
                                coords: coords[0] + "," + coords[1],
                                label_ru: firstGeoObject.properties.getAll().name,
                                label_kz: firstGeoObject.properties.getAll().name,
                                label_en: firstGeoObject.properties.getAll().name,
                                address_ru: firstGeoObject.properties.getAll().text,
                                address_kz: firstGeoObject.properties.getAll().text,
                                address_en: firstGeoObject.properties.getAll().text,

                            };
                        }
                    });

                    ymaps.geocode(link.pointB, {
                        'kind': 'locality',
                        results: 1,
                        searchControlProvider: 'yandex#search'
                    }).then(function (res) {
                        let firstGeoObject = res.geoObjects.get(0),
                            coords = [];
                        if (firstGeoObject != null)
                        {
                            coords = firstGeoObject.geometry.getCoordinates();

                            link.$data.pointB_Route = {
                                map_id: firstGeoObject.properties.get('metaDataProperty.GeocoderMetaData').id,
                                coords: coords[0] + "," + coords[1],
                                label_ru: firstGeoObject.properties.getAll().name,
                                label_kz: firstGeoObject.properties.getAll().name,
                                label_en: firstGeoObject.properties.getAll().name,
                                address_ru: firstGeoObject.properties.getAll().text,
                                address_kz: firstGeoObject.properties.getAll().text,
                                address_en: firstGeoObject.properties.getAll().text,

                            };
                        }
                    });
                }
            },
            setFrom: function(event) {
                let link = this
                this.myOrders.forEach(function(item) {
                  if (item.id == link.cloneOrder) {
                      item.provisionalDate = new Date()
                      link.addForm = item
                      link.pointA = item.from.label
                      link.pointB = item.to.label
                      link.getLength()
                  }
                })
            }
        },
        computed: {
            recomendPrice: function() {
                let byCapacity =
                    (this.addForm.capacity / this.tariff.avg_capacity) *
                    this.tariff.price *
                    this.tariff.k1 * this.tariff.k2 * this.tariff.k3 *
                    this.tariff.k4 * this.tariff.k5 * this.tariff.k6 *
                    this.citiesLength;

                let byVolume =
                    (this.addForm.volume / this.tariff.avg_weight) *
                    this.tariff.price *
                    this.tariff.k1 * this.tariff.k2 * this.tariff.k3 *
                    this.tariff.k4 * this.tariff.k5 * this.tariff.k6 *
                    this.citiesLength;

                let avg = (byCapacity + byVolume) / 2;
                let res = Math.round(avg / 1000) * 1000;
                this.addForm.price = res;
                this.minPrice = res-(res * this.tariff.dumping);
                this.maxPrice = res+(res * this.tariff.dumping);
                //console.group('prices')
                    //console.log('min ', this.minPrice)
                    //console.log('current ',res)
                    //console.log('max ', this.maxPrice)
                    //console.log('percent ', this.tariff.dumping)
                //console.groupEnd()
                return res;
            }
        },
        mounted: function() {
            this.lang = this.$locale.current() == 'kk' ? 'ru' : this.$locale.current()
            let api = require('./api.js');

            this.$http.get(api.apiResource + 'customer/orders/references?lang='+this.$locale.current()).then(response => {
                this.injectData = response.body.result;
                console.log(this.injectData)
            });

            this.$http.get(api.apiResource + 'customer/orders/tariff').then(response => {
                this.tariff = response.body.result;
            });

            this.$http.post(api.apiResource + 'customer/orders/my', {
                'token': localStorage.getItem('token'),
                'lang': this.$locale.current()
            }).then(response => {
                //console.log(response.body.result);
                this.myOrders = response.body.result;
            });

            this.addForm.provisionalDate = new Date();//dd+'.'+mm+'.'+yyyy;

            this.datepicker.disabled.to = new Date(new Date().setDate(new Date().getDate()-1));

            //console.log(this.addForm.provisionalDate)
            let link = this;
            let ymapsLink = ymaps;
            ymaps.ready(function() {
                if (link.map == '') {
                    link.map = new ymapsLink.Map('map', {
                        center: [55.76, 37.64],
                    });
                }
            });

        },
        components: {
            Datepicker
        }
    }

</script>
