<template lang="pug">

    .ourFeatures
        div.col-md-3(v-for="item in list")
            a(target="__blank", :href="item.link")
                img(:src="item.image")

</template>

<script>
    export default {
        name: 'Ads',
        data () {
            return {
                list: []
            }
        },
        mounted: function() {
            let api = require('./api.js');

            this.$http.post(api.apiResource + 'customer/ads/list').then(response => {
                this.list = response.body.result;
            });
        }
    }
</script>

<style>

</style>
