<template lang="pug">
    extends ./blocks/layout

    block content
        .content
            .container-fluid
                ads
            .container-fluid
                - var currentPage = 'balans'
                include ./blocks/cabinetNavigation

            .about-content
                .clearfix
                    h1.main-title Мой баланс

</template>

<script>
    export default {
        name: 'app',
    }
</script>

<style>

</style>
