<template lang="pug">
    extends ./blocks/layout

    block content
        .content
            .container-fluid
                - var currentPage = 'calculator'
                include ./blocks/cabinetNavigation
            .container-fluid
                ads

            .about-content
                .clearfix
                    h1.main-title {{ $t("links.calc") }}

                .in-about-content.select-input-city
                    table.table.table-calculator
                        tbody
                            tr
                                td.hidden-xs
                                    span.punkts.first-punkt
                                        | A
                                        span.vertical-line
                                td {{ $t("calc.from") }}
                                td.input-box.input-box--select
                                    input(type="text", :placeholder="$t('calc.city')", value="" id="route-from", @keyup="searchPoint('from')", v-model="routeFrom")
                                    ul
                                        li(v-for="item in itemsFrom", @click="setPoint('from', item.text)") {{ item.text }}
                            tr
                                td.hidden-xs
                                    span.punkts B
                                td {{ $t("calc.to") }}
                                td.input-box.input-box--select
                                    input(type="text", :placeholder="$t('calc.city')", value="", id="route-to", @keyup="searchPoint('to')", v-model="routeTo")
                                    ul
                                        li(v-for="item in itemsTo", @click="setPoint('toaqz', item.text)") {{ item.text }}
                        tfoot
                            tr
                                td(colspan="3")
                                    a(@click.prevent="createRoute")
                                        button.take_orders {{ $t("calc.calculate") }}
                .in-about-content.top-map
                    span(id="route-length")
                        | {{ $t("calc.distance") }}&nbsp;
                        b ~ 0 km
                    span(id="route-time") {{ $t("calc.deliveryTime") }}&nbsp;
                        b ~ 0 {{ $t("calc.minute") }}

                .map-box: #map


</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                mapRoute: false,
                map: '',
                routeFrom: '',
                routeTo: '',
                itemsFrom: [],
                itemsTo: []
            }
        },
        methods: {
            setPoint(point, locality) {
                if (point == 'from') {
                    this.routeFrom = locality
                    this.itemsFrom = []
                } else {
                    this.routeTo = locality
                    this.itemsTo = []
                }
            },
            searchPoint: function (point) {

                let link = this;
                let pointLink = point;
                let pointModel = point == 'to' ? this.routeTo : this.routeFrom;
                ymaps.geocode(pointModel, {
                    kind: 'locality',
                    results: 10,
                    searchControlProvider: 'yandex#search'
                }).then(function (res) {
                    let geoObject = res.geoObjects.get(0);
                    if (!geoObject) {
                        console.log('Not found');
                    }

                    pointLink == 'to' ? link.itemsTo = [] : link.itemsFrom = [];


                    //console.log(res.geoObjects.getLength())
                    res.geoObjects.each(function (el) {
                        if (el.properties.get('metaDataProperty.GeocoderMetaData.kind') == 'locality') {
                            if (pointLink == 'to') {
                                link.itemsTo.push({'text': el.properties.getAll().text})
                            } else {
                                link.itemsFrom.push({'text': el.properties.getAll().text})
                            }
                        }
                    })

                });
                //
            },
            createRoute: function () {
                // Удаление старого маршрута
                if (this.mapRoute) {
                    this.map.geoObjects.remove(this.mapRoute);
                }

                let routeFrom = document.getElementById('route-from').value;
                let routeTo = document.getElementById('route-to').value;
                let link = this;
                // Создание маршрута
                window.ymaps.route([routeFrom, routeTo], {
                    mapStateAutoApply: true
                }).then(
                    function(route) {
                        link.map.geoObjects.add(route);
                        document.getElementById('route-length').innerHTML = 'Расстояние ~ ' + '<b>' + route.getHumanLength() + '</b>';
                        document.getElementById('route-time').innerHTML = 'Время в пути ~ ' + '<b>' + route.getHumanTime() + '</b>';
                        link.mapRoute = route;
                    },
                    function(error) {
                        alert('Невозможно построить маршрут');
                    }
                );
            }
        },
        mounted: function() {
            let link = this;
            if (this.$locale.current() == 'en') {
                ymaps = enmaps
            }
            ymaps.ready(function() {
                link.map = new ymaps.Map('map', {
                    center: [55.76, 37.64],
                    zoom: 12
                });

                link.map.controls.add('typeSelector');
                link.map.controls.add('zoomControl');
            });
        }
    }

</script>

<style>

</style>
