<template lang="pug">
    extends ./blocks/layout

    block content
        .content
            .about-content
                .clearfix
                    h1.main-title {{ $t("helpers.change_lang") }}

</template>

<script>
    export default {
        name: 'app',
        props: ['id'],
        mounted: function() {
            this.$locale.change(this.$route.params.lang)
            console.log(this.$locale.current())
            this.$router.push('/')
        }
    }
</script>

<style>

</style>
