<template lang="pug">
    extends ./blocks/layout

    block content
        .content
            .container-fluid
                ads
            .container-fluid
                .main-title {{ page.name }}
                .in-about-content(v-html="page.content")
</template>

<script>
    export default {
        name: 'app',
        data () {
            return {
                title: 'Помощь',
                page: {}
            }
        },
        mounted: function() {
            let api = require('./api.js');
            this.$http.get(api.apiResource + 'pages/help?lang='+this.$locale.current()).then(response => {
                this.page = response.body.result
            }, response => {
                this.showNotify({
                    type: 'error',
                    title: 'Something wrong'
                });
            });
        }
    }
</script>

<style>

</style>
