<template lang="pug">
    extends ./blocks/layout

    block content
        .content
            .container-fluid
                ads
            .container-fluid
                .about-content
                    .in-about-content.news-box.clearfix
                        .col-md-6
                            h1.info-prod {{ item.title }}
                            img(:src="item.image", class="img-news", alt="", v-if="item.image != ''")
                            p.time-news Опубликовано {{ item.time | dateFull }}
                        .col-md-6
                            p.text-in-about {{ item.content }}

</template>

<script>
    export default {
        name: 'app',
        props: ['id'],
        data() {
            return {
                item: {}
            }
        },
        mounted: function() {
            let api = require('./api.js');
            this.$http.get(api.apiResource + 'news/fetch/'+this.$route.params.id+'?lang='+this.$locale.current()).then(response => {
                this.item = response.body.result

            }, response => {
                this.showNotify({
                    type: 'error',
                    title: 'Something wrong'
                });
            });
        },
        filters: {
            dateFull: function(time) {
                let date = new Date(time * 1000);
                let month = date.getMonth() < 10 ? "0" + (date.getMonth()+1) : date.getMonth()+1
                return date.getDate() + "." + month + "." + date.getFullYear() + ", " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
            }
        }
    }
</script>

<style>

</style>
