<template lang="pug">
    extends ./blocks/layout

    block content
        .content
            .container-fluid
                ads
            .container-fluid
                .about-content
                    .in-about-content.news-box.clearfix
                        .col-md-4(v-for="item in news")
                            .item-news
                                a(href="", @click.prevent="openNews(item.id)")
                                    img(:src="item.image", :alt="item.title", v-if="item.image != ''")
                                    h4.item-title-news {{ item.title }}
                                p.text-min-news {{ item.content | truncate(200) }}
                                p.time-news {{ item.time | date }}

</template>

<script>
    export default {
        name: 'app',
        data() {
          return {
              news: []
          }
        },
        methods: {
          openNews: function(id) {
              this.$router.push({ path: '/news/'+id})
          }
        },
        mounted: function() {

            let api = require('./api.js');
            this.$http.get(api.apiResource + 'news/all?lang='+this.$locale.current()).then(response => {
                this.news = response.body.result
            }, response => {
                this.showNotify({
                    type: 'error',
                    title: 'Something wrong'
                });
            });
        },

        filters: {
            truncate:  function (text, stop, clamp) {
                return text.slice(0, stop) + (stop < text.length ? clamp || '...' : '')
            },
            date: function(time) {
                let date = new Date(time * 1000);
                let month = date.getMonth() < 10 ? "0" + (date.getMonth()+1) : date.getMonth()+1
                return date.getDate() + "." + month + "." + date.getFullYear();
            }
        }
    }
</script>

<style>

</style>
