<template lang="pug">
    extends ./blocks/layout

    block content
        .content
            .container-fluid
                - var currentPage = 'notifications'
                include ./blocks/cabinetNavigation

            .container-fluid
                ads
            .about-content
                .clearfix
                    h1.main-title Уведомления
                .in-about-content.box-message
                    .item-prof.clearfix
                        .inf-message
                            p.name-company Тех. осмотр
                            p.message-item
                                | Уведомляем вас о том, что 12 января подходит срок тех.осмотра транспорта
                                | &nbsp;
                                a(href="") Mercedes-Benz E400
                    .item-prof.clearfix
                        .inf-message
                            p.name-company Страховка
                            p.message-item
                                | Уведомляем вас о том, что 12 января подходит срок страхового полиса транспорта
                                | &nbsp;
                                a(href="") Volkswagen Caravelle

</template>

<script>
    export default {
        name: 'app',
    }
</script>

<style>

</style>
