<template lang="pug">
    extends ./blocks/layout

    block content
        .content
            .container-fluid
                - var currentPage = 'orders'
                include ./blocks/cabinetNavigation

            .container-fluid
                ads
            .about-content
                .clearfix
                    h1.main-title {{ $t("links.myOrders") }}
                    .rigth-btn
                        select(name="", v-model="displaying")
                            option(value="all") {{ $t("orders.all") }}
                            option(value="-1") {{ $t("orders.inModeration") }}
                            option(value="0") {{ $t("orders.pending") }}
                            option(value="1") {{ $t("orders.accepted") }}
                            option(value="2") {{ $t("orders.canceled") }}
                            option(value="3") {{ $t("orders.delivered") }}
                            option(value="4") {{ $t("orders.finished") }}
                        router-link(to="/cabinet/orders/add")
                            button.take_orders {{ $t("orders.add") }}
                .in-about-content
                    table.table.my-item-order
                        tr(v-for="order in orders")
                            td(v-if="displaying == 'all' || displaying == order.status")
                                p.name-sity
                                    router-link(:to="{ name: 'OrderFetch', params: { id: order.id }}") {{ order.from.label }} → {{ order.to.label }}
                                p.general-info {{ order.provisionalDateFormated }} - {{ order.meters }} {{ $t("order.km") }} - {{ order.capacity }} {{ $t("order.meter") }}³ - {{ order.volume }} {{ $t("order.mt") }} - {{ order.preferredCarFormated.name }}
                                p.type-order {{ order.description }}
                                p.info-executor(v-if="order.transporter_id") {{ order.transporter ? order.transporter.name : '' }}
                                p.info-executor(v-else) {{ $t("orders.noExecuters") }}
                                p.price-order.hidden-lg.hidden-md.hidden-sm {{ order.price }} тг

                            td.hidden-xs(v-if="displaying == 'all' || displaying == order.status")
                                div: img(:src="'/dist/assets/images/'+ lang +'/status-'+order.status+'.png'", class="st-ozhidaet center-block")

                            td.hidden-xs(v-if="displaying == 'all' || displaying == order.status")
                                p.price-order {{ order.price }} {{ $t("orders.tg") }}
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                orders: false,
                displaying: 'all',
                lang: 'ru',
            }
        },
        mounted: function() {

            if (localStorage.getItem('token') == undefined) {
                this.$router.push({'name': 'signIn'})
            }

            let api = require('./api.js');


            this.lang = this.$locale.current()

            this.$http.post(api.apiResource + 'customer/orders/my', {
                'token': localStorage.getItem('token'),
                'lang': this.$locale.current()
            }).then(response => {
                this.orders = response.body.result;
            });
        }
    }
</script>

<style>

</style>
