<template lang="pug">
    extends ./blocks/layout

    block content
        .content
            .container-fluid
                - var currentPage = 'orders'
                include ./blocks/cabinetNavigation

            .container-fluid
                ads
            .big-section

                .clearfix
                    .rigth-btn
                        button.change-del-btn(v-if="order.status == 0 || order.status == 3", @click="finishOrder") {{ $t("order.completeOrder") }}
                        button(v-if="order.status == 1", @click="findLocation", id="findLocation", :disabled="order.findLocation && (order.findLocation.time  + 36800) > (Math.floor(Date.now() / 1000))").change-del-btn {{ $t("order.findLocation") }}
                        button.hidden(disabled).change-del-btn {{ $t("order.edit") }}
                        button.hidden(disabled).change-del-btn {{ $t("order.delete") }}


                .in-about-content

                    .map-box(v-if="order.findLocation")
                        #orderPosition
                    .top-item.select-input-city

                        div
                            span.title-input {{ $t("order.from") }}
                            input(type="text", :value="order.from.label", readonly)
        
                        .view-punkt
                            span.punkts A
                            span.line: span.col-km {{ order.meters }}km
                            span.punkts B
        
                        div
                            span.title-input {{ $t("order.to") }}
                            input(type="text", :value="order.to.label", readonly)

                .in-about-content.clearfix
                    .col-md-6.col-sm-6.in-boxes
                        h1.title-1 {{ order.from.label }} → {{ order.to.label }}
                        //h2.title-2 86 м³ - 18 т

                        table.table.item-table
                            caption {{ $t("order.order") }}
                            tbody
                                tr
                                    td {{ $t("order.capacity") }}
                                    th {{ order.capacity }} {{ $t("order.meter") }}³
                                tr
                                    td {{ $t("order.volume") }}
                                    th {{ order.volume }} {{ $t("order.mt") }}

                                tr
                                    td {{ $t("order.insurance") }}
                                    th(v-if="order.insured == 10") {{ $t("order.insured") }}
                                    th(v-else="order.insured") {{ $t("order.notInsured") }}

                        table.table.item-table
                            caption {{ $t("order.description") }}
                            tbody
                                tr
                                    td {{ order.description }}

                        table.table.item-table
                            caption {{ $t("order.preferredCar") }}
                            tbody
                                tr
                                    td {{ $t("order.typeTransp") }}
                                    th {{ order.typeTranspFormated.name }}

                                tr
                                    td {{ $t("order.viewTransp") }}
                                    th {{ order.preferredCarFormated.name }}


                                tr
                                    td {{ $t("order.hazardClass") }}
                                    th {{ order.hazardClassFormated.name }}

                    .col-md-6.col-sm-6.in-boxes
                        .right-info-t
                            .right-info
                                div
                                    h2 {{ order.provisionalDateFormated }}
                                    p {{ $t("order.provisionalDate") }}


                                div
                                    h2 ~ {{ order.meters }} {{ $t("order.km") }}
                                    p {{ $t("order.meters") }}


                                div.hidden
                                    h2 ~ 13 {{ $t("order.hours") }} 14 {{ $t("order.minutes") }}
                                    p {{ $t("order.time") }}

                                div
                                    h2 {{order.price}} KZT
                                    p {{ $t("order.price") }}

                                div(v-for="money in order.currency")
                                    h2 {{ money.price }} {{ money.label }}
                                    p 1 {{ money.label }} = {{ money.tenge }} KZT



                            div(v-if="order.status === -1"): img(src='./assets/images/status--1.png', class="abs-img")
                            div(v-else-if="order.status === 0"): img(src='./assets/images/status-0.png', class="abs-img")
                            div(v-else-if="order.status === 1"): img(src='./assets/images/status-1.png', class="abs-img")
                            div(v-else-if="order.status === 2"): img(src='./assets/images/status-2.png', class="abs-img")
                            div(v-else-if="order.status === 3"): img(src='./assets/images/status-3.png', class="abs-img")
                            div(v-else): img(src='./assets/images/status-4.png', class="abs-img")


                .in-about-content.customers-box.clearfix(v-if="order.transporter_id > 0")
                    h3.min-title {{ $t("order.transporter") }}
                    .customers
                        .customers-img
                            img(:src="order.transporter.avatar", class="img_ava_def")
                

                        .customers-data
                            h3 {{order.transporter.name}}
                                p.info-spes
                                p.info-address {{ order.transporter.phone }}
                                p.info-address {{ order.transporter.email }}
                                p.info-address {{ order.transporter.actual_address }}





                .in-about-content.customers-box.clearfix(v-if="order.transporter_id > 0")
                    h3.min-title {{ $t("order.transporterCar") }}
                    .customers.trans-box.clearfix
                        .customers-img.trans-customers
                            img(:src="order.car.image", class="img_ava_def")
                

                        .customers-data.inf-trans
                            h3.trans-name {{ order.car.brand.name_ru }} - {{ order.car.model.name_ru }}
                            p {{ order.car.date_tech_inspection_formated }} - {{ order.car.distance_history }} km


                        table.table.my-detail.item-table
                            tbody
                                tr
                                    td {{ $t("order.using") }}:
                                    th {{ order.car.using.capacity }} {{ $t("order.meter") }}³ - {{ order.car.using.volume }} {{ $t("order.mt") }}

                                tr
                                    td {{ $t("order.free") }}:
                                    th {{ order.car.free.capacity }} {{ $t("order.meter") }}³ - {{ order.car.free.volume }} {{ $t("order.mt") }}
</template>

<script>
    export default {
        name: 'app',
        props: ['id'],
        data() {
            return {
                orderMap: '',
                order: {
                    from: {
                        label: '',
                    },
                    to: {
                        label: '',
                    },
                    typeTranspFormated: {
                        name: ''
                    },
                    preferredCarFormated: {
                        name: ''
                    },
                    hazardClassFormated: {
                        name: ''
                    },
                },
            }
        },
        methods: {
            findLocation: function () {
                let api = require('./api.js');
                this.$http.post(api.apiResource + 'customer/orders/findLocation/'+this.$route.params.id, {
                    'token': localStorage.getItem('token'),
                });
                document.getElementById('findLocation').disabled = true
            },
            finishOrder: function () {
                let api = require('./api.js');
                this.$http.post(api.apiResource + 'customer/orders/complete', {
                    'token': localStorage.getItem('token'),
                    'order_id': this.$route.params.id
                });
                this.$router.push({'name': 'myOrders'})
            }
        },
        mounted: function() {

            let api = require('./api.js');

            this.$http.post(api.apiResource + 'customer/orders/fetch/'+this.$route.params.id, {
                'token': localStorage.getItem('token'),
                'lang': this.$locale.current()
            }).then(response => {
                this.order = response.body.result
                if (this.order.findLocation) {

                    let link = this;
                    setTimeout(function() {
                        ymaps.ready(function () {
                            link.orderMap = new ymaps.Map('orderPosition', {
                                center: [link.order.findLocation.latitude, link.order.findLocation.longitude],
                                zoom: 12,
                                controls: ["default","routeEditor"],
                                behaviors: ['drag', 'scrollZoom'],
                            });
                            let myPlacemark = new ymaps.Placemark([link.order.findLocation.latitude, link.order.findLocation.longitude], {
                                hintContent: 'Ваш груз здесь!',
                                balloonContent: 'Дата отправки геопозиции - ' + link.order.findLocation.time
                            });
                            link.orderMap.geoObjects.add(myPlacemark);
                            link.orderMap.controls.add('typeSelector');
                            link.orderMap.controls.add('zoomControl');
                        });

                    }, 1000);
                }
            });
        }
    }
</script>

<style>

</style>
