<template lang="pug">
    extends ./blocks/layout

    block content
        .content
            .container-fluid
                - var currentPage = 'settings'
                include ./blocks/cabinetNavigation

            .container-fluid
                ads
            .about-content
                .clearfix
                    h1.main-title {{ $t("account.settings") }}
                .in-about-content
                    h3.min-title {{ $t("account.urData") }}
                    .row
                        .col-md-12.col-sm-12
                            .form-you-date.clearfix
                                span {{ $t("account.photo") }}
                                .pull-left
                                    img(:src="image", class="change-ava", alt="")
                                    .file-upload
                                        label
                                            input(type="file", name="file", id="uploade-file",  @change="onFileChange")
                                            span {{ $t("account.photoUpload") }}

                            .form-you-date.clearfix
                                span {{ $t("account.username") }}
                                input(type="text", placeholder="...", :value="user.name", v-model="user.name")

                            .form-you-date.clearfix
                                span {{ $t("account.iin") }}
                                input(type="text", placeholder="...", :value="user.iin", v-model="user.iin")

                            .form-you-date.clearfix
                                span {{ $t("account.sphere") }}
                                select(v-model="user.sphere_id")
                                    option(v-for="sphere in user.spheres", :value="sphere.id", :selected="sphere.id == user.sphere_id") {{ sphere.name }}

                            .form-you-date.clearfix
                                span {{ $t("account.phone") }}
                                input(type="text", placeholder="...", :value="user.phone", v-model="user.phone", v-mask="'+7(###)###-##-##'")

                            .form-you-date.clearfix
                                span E-mail
                                input(placeholder="...", :value="user.email", disabled)

                            .form-you-date.clearfix
                                span {{ $t("account.legal_address") }}
                                input(type="text", placeholder="...", :value="user.legal_address", v-model="user.legal_address")

                            .form-you-date.clearfix
                                span {{ $t("account.actual_address") }}
                                input(type="text", placeholder="...", :value="user.actual_address", v-model="user.actual_address")

                            .form-you-date.clearfix
                                button.take_orders(@click="updateProfile") {{ $t("account.save") }}

                .in-about-content
                    h3.min-title {{ $t("account.changePassword") }}

                    .row
                        .col-md-12.col-sm-12

                            .form-you-date.clearfix
                                span {{ $t("account.oldPassword") }}
                                input(type="password", placeholder="...", value="", v-model="oldPassword")

                            .form-you-date.clearfix
                                span {{ $t("account.newPassword") }}
                                input(type="password", placeholder="...", v-model="newPassword")


                            .form-you-date.clearfix
                                button.take_orders(@click="setPassword") {{ $t("account.save") }}

                .in-about-content
                    h3.min-title
                    .row
                        .col-md-12.col-sm-12
                            .clearfix
                                button.take_orders.take_orders--exit(@click="exitAccount") {{ $t("account.exitAccount") }}
</template>

<script>
    export default {
        name: 'app',
        notifications: {
            showNotify: {
                title: '',
                message: '',
                type: 'error'
            }
        },
        data() {
            return {
                oldPassword: '',
                newPassword: '',
                image: '/dist/src/assets/images/img-ava-def.png',
                user: {
                    name: '',
                    iin: '',
                    phone: '',
                    email: '',
                    actual_address: '',
                    legal_address: '',
                    sphere_id: 0,
                    spheres: {}
                }
            }
        },
        methods: {
            exitAccount: function() {
                this.$router.push('/');
                localStorage.removeItem('token');

            },
            setPassword: function() {
                let api = require('./api.js');
                this.$http.post(api.apiResource + 'customer/account/setPassword', {
                    token: localStorage.getItem('token'),
                    oldPassword: this.oldPassword,
                    newPassword: this.newPassword,
                }).then(response => {
                    if (response.body.status == 'success')
                    {
                        this.showNotify({
                            type: 'success',
                            title: 'Пароль обновлен'
                        });
                    }
                    else {
                        if (typeof response.body.result.error == null) {
                            for (let i = 0; i < response.body.result.errors.length; i++) {
                                this.showNotify({
                                    type: 'error',
                                    title: response.body.result.errors[i]
                                });
                            }
                        }
                        else {
                            this.showNotify({
                                type: 'error',
                                title: response.body.result.error
                            });
                        }
                    }

                });
            },
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0])
            },
            createImage(file) {
                let image = new Image();
                let reader = new FileReader();
                let vm = this;
                let formData = new FormData();

                formData.append('avatar', file);
                formData.append('token', localStorage.getItem('token'));

                vm.user.avatar = formData;

                let api = require('./api.js');
                this.$http.post(api.apiResource + 'customer/account/update', formData).then(response => {
                    this.showNotify({
                        type: 'success',
                        title: 'Аватар обновлен'
                    });
                });

                reader.onload = (e) => {

                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            updateProfile: function () {
                let api = require('./api.js');
                this.$http.post(api.apiResource + 'customer/account/update', {
                    token: localStorage.getItem('token'),
                    iin: this.user.iin,
                    name: this.user.name,
                    phone: this.user.phone,
                    email: this.user.email,
                    sphere_id: this.user.sphere_id,
                    legal_address: this.user.legal_address,
                    actual_address: this.user.actual_address,
                    avatar: this.user.avatar,
                }).then(response => {
                    if (response.body.status == 'error') {
                        for (let i = 0; i < response.body.result.errors.length; i++) {
                            this.showNotify({
                                type: 'error',
                                title: response.body.result.errors[i]
                            });
                        }
                    } else {
                        let titles = {
                            ru: 'Профиль обновлен',
                            kk: 'Сакталды',
                            en: 'Saved',
                        };
                        this.showNotify({
                            type: 'success',
                            title: titles[this.$locale.current()]
                        });
                    }
                });
            }
        },
        mounted: function() {

            let api = require('./api.js');
            this.$http.post(api.apiResource + 'customer/account/fetch', {
                'token': localStorage.getItem('token'),
                'lang': this.$locale.current()
            }).then(response => {
                this.user = response.body.result;
                if (this.user.avatar != '') {
                    this.image = api.apiHost + this.user.avatar;
                }
            });
        }
    }
</script>

<style>

</style>
