<template lang="pug">
    extends ./blocks/layout

    block content
        .content
            .container-fluid
                ads
            .container-fluid
                .box-regis.auth-page
                    h1 Вход
                    form(action='')
                    input(type='email', name='email', placeholder='Еmail', v-model="email")
                    |
                    input(type='password', placeholder='Пароль', v-model="password")
                    |
                    input(class="loginButton", type='submit', value='Войти', @click="login", :disabled="buttonDisabled")
                    p.link-us
                        | Нет аккаунта?&nbsp;
                        router-link(to="/signUp") Зарегистрируйтесь
                    p.link-us
                        | Забыли пароль?&nbsp;
                        router-link(to="/resetPassword") Восстановить
</template>

<script>
    export default {
        name: 'app',
        notifications: {
            showNotify: {
                title: '',
                message: '',
                type: 'error'
            }
        },
        data () {
            return {
                email: '',
                password: '',
                buttonDisabled: false
            }
        },
        methods: {
            login: function () {
                this.buttonDisabled = true;
                let api = require('./api.js');

                this.$http.post(api.apiResource + 'customer/account/signIn', {
                    email: this.email,
                    password: this.password
                }).then(response => {

                    this.buttonDisabled = false;
                    if (response.body.status == 'error') {
                        if (typeof response.body.result == "object") {
                            for (let i = 0; i < response.body.result.errors.length; i++) {
                                this.showNotify({
                                    type: 'error',
                                    title: response.body.result.errors[i]
                                });
                            }
                        }
                        else {
                            this.showNotify({
                                type: 'error',
                                title: response.body.result
                            });
                        }
                    }
                    else {
                        this.showNotify({
                            type: 'success',
                            title: 'Авторизация успешна'
                        });
                        localStorage.setItem('token', response.body.result.device_token);
                        setTimeout(() => {
                            this.$router.push({path: '/cabinet/orders'})
                        }, 500);
                    }
                }, response => {

                    this.showNotify({
                        type: 'error',
                        title: 'Something wrong'
                    });
                });
            }
        }
    }
</script>

<style>

</style>
