<template lang="pug">
    extends ./blocks/layout

    block content
        .content
            .container-fluid
                ads
            .container-fluid
                .box-regis.auth-page
                    h1 Регистрация
                    form
                        input(type="email", name="email", placeholder="Еmail", v-model="email")
                        input(type="password", placeholder="Пароль", v-model="password")
                        input(type="password", placeholder="Повторите пароль", v-model="password_confirmation")
                        input(type="submit", value="Регистрироваться", @click.prevent="signUp")
                        p.link-us
                            | Уже зарегистрированы?&nbsp;
                            router-link(to="/signIn") Войдите
                        p.link-us
                            | Забыли пароль?&nbsp;
                            router-link(to="/resetPassword") Восстановить
</template>

<script>
    export default {
        name: 'app',
        notifications: {
            showNotify: {
                title: '',
                message: '',
                type: 'error'
            }
        },
        data () {
            return {
                email: '',
                password: '',
                password_confirmation: '',
            }
        },
        methods: {
            signUp: function () {
                let api = require('./api.js');

                if (this.password != this.password_confirmation) {
                    this.showNotify({
                        type: 'error',
                        title: 'Password confirmation mismatch'
                    });
                }
                else
                {
                    this.$http.post(api.apiResource + 'customer/account/signUp', {
                        email: this.email,
                        password: this.password
                    }).then(response => {
                        if (response.body.status == 'error') {
                            if (typeof response.body.result == "object") {
                                for (let i = 0; i < response.body.result.errors.length; i++) {
                                    this.showNotify({
                                        type: 'error',
                                        title: response.body.result.errors[i]
                                    });
                                }
                            }
                            else {
                                this.showNotify({
                                    type: 'error',
                                    title: response.body.result
                                });
                            }
                        }
                        else {
                            //console.log(response.body.result);
                            this.showNotify({
                                type: 'success',
                                title: 'Sign up success'
                            });
                            localStorage.setItem('token', response.body.result.device_token);
                            setTimeout(() => {
                                this.$router.push({ path: '/cabinet/settings' })
                            }, 500);
                        }
                    }, response => {
                        this.showNotify({
                            type: 'error',
                            title: 'Something wrong'
                        });
                    });
                }
            }
        }
    }
</script>

<style>

</style>
