<template lang="pug">
    #app
        .main-page
            .header
                .container-fluid
                    .logo-box
                        router-link(to="/") MAP+
                    .top-menu
                        ul
                            li
                                router-link(to='/changeLang/kk') Қазақша
                            li
                                router-link(to='/changeLang/ru') Русский
                            li
                                router-link(to='/changeLang/en') English
                            li
                                router-link(to="/help") {{ $t("links.help") }} &nbsp;
                                router-link(to="/signIn") {{ $t("links.signIn") }} &nbsp;
                                router-link(to="/signUp") {{ $t("links.signUp") }}
            .content
                .container-fluid
                    .content-main-page
                        h1.big-title {{ $t("index.slogan") }}
                        h4.text-wrap {{ $t("index.underSlogan") }}
                        div
                            router-link(to="/signUp")
                                button.add-task.add-transport {{ $t("index.addOrder") }}
            .footer
                .container-fluid
                    .item-footer-menu
                        span Copyright 2016
                        span
                            router-link(to="/aboutUs") {{ $t("links.aboutUs") }}
                        span
                            router-link(to="/news") {{ $t("links.news") }}
</template>

<script>
    export default {
        name: 'Welcome',
        data () {
            return {
                title: 'Главная'
            }
        },
        mounted: function(){
            if (localStorage.getItem('token') != null)
            {
                this.$router.push('/cabinet/orders')
            }

            //console.log(this.$locale.change('ru'))
            //console.log(this.$locale.current())

        }
    }


</script>

<style>
    .main-page {
        min-height: 100%;
        height: 100vh;
        background-image: url(./assets/images/rectangle.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        background-position: center;
    }

</style>
